<html>
<head>
  <link href="/assets/style.css" type="text/css" rel="stylesheet">
  <script src="/assets/jquery-3.2.1.min.js"></script>
  <script src="/assets/animation.js"></script>
  <script src="/assets/ajax.js"></script>
</head>
<body>
  <h1>Dart Leaderboard</h1>
  <% include partials/navigation.ejs %>
  <div class='content'>

  </div>
</body>
</html>
